.dropdown {
  position: absolute;

  width: 190px;
  max-height: none;

  background-color: var(--bg-tertiary);
  border: 1px solid var(--border-primary);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0 0 0 / 0.1);

  animation: openToTop 0.25s linear both;
  transform-origin: bottom;
  overflow: hidden;
  z-index: 20;

  & ul {
    & li {
      padding: 0.25rem;

      text-align: center;
      font: var(--label-lg);

      cursor: pointer;
      transition: background-color 0.25s ease;

      &:hover:not(.disabled) {
        background-color: var(--bg-brand);
        text-shadow: 2px 2px 0 rgba(0 0 0 / 1);
      }

      &.disabled {
        color: var(--content-secondary);
        cursor: default;
        pointer-events: none;
      }
    }
  }
}
.content-container {
  height: calc(200px - (5 * 0.5rem));
  overflow-y: auto;
}
@keyframes openToTop {
  from {
    clip-path: inset(100% 0 0 0);
    opacity: 0;
  }
  to {
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}
.closeDropdown {
  animation: closeDropdown 0.25s linear both;
}
@keyframes closeDropdown {
  from {
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
  to {
    clip-path: inset(100% 0 0 0);
    opacity: 0;
  }
}
