.logo {
  display: inline-block;
  background: url("../../public/assets/logo.svg") no-repeat center/cover;

  width: 1.25rem;
  height: 1.25rem;
}
.calendar {
  display: inline-block;
  background: url("../../public/assets/icons/calendar.svg") no-repeat
    center/cover;

  width: 1.25rem;
  height: 1.25rem;
}
.arrow-down {
  display: inline-block;
  background: url("../../public/assets/icons/arrowDown.svg") no-repeat
    center/cover;

  width: 1.25rem;
  height: 1.25rem;
}
.sun-fog {
  display: inline-block;
  background: url("../../public/assets/icons/sunFog.svg") no-repeat center/cover;

  width: 1.25rem;
  height: 1.25rem;
}
.cloud-sun {
  display: inline-block;
  background: url("../../public/assets/icons/cloudSun.svg") no-repeat
    center/cover;

  width: 1.25rem;
  height: 1.25rem;
}
.moon-stars {
  display: inline-block;
  background: url("../../public/assets/icons/moonStars.svg") no-repeat
    center/cover;

  width: 1.25rem;
  height: 1.25rem;
}
.close {
  display: inline-block;
  background: url("../../public/assets/icons/close.svg") no-repeat center/cover;

  width: 1.25rem;
  height: 1.25rem;
}
.user {
  display: inline-block;
  background: url("../../public/assets/icons/user.svg") no-repeat center/cover;

  width: 1.25rem;
  height: 1.25rem;
}
.pet-paw {
  display: inline-block;
  background: url("../../public/assets/icons/petPaw.svg") no-repeat center/cover;

  width: 1.25rem;
  height: 1.25rem;
}
.phone {
  display: inline-block;
  background: url("../../public/assets/icons/phone.svg") no-repeat center/cover;

  width: 1.25rem;
  height: 1.25rem;
}
.clock {
  display: inline-block;
  background: url("../../public/assets/icons/clock.svg") no-repeat center/cover;

  width: 1.25rem;
  height: 1.25rem;
}
